* {
    font-family: 'Montserrat', sans-serif;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    position: relative;
    z-index: 5;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    max-width: 527px;
    background: rgb(0, 102, 204);
    border-radius: 7px 7px 0 7px;
    padding: 8px 13px;
    position: relative;
    text-align: right;

}

.text:after {
    content: '';
    width: 20px;
    height: 15px;
    background: rgb(0, 102, 204);
    position: absolute;
    bottom: 0;
    right: -20px;
    z-index: 1;
}

.text:before {
    content: '';
    width: 20px;
    height: 15px;
    background: white;
    position: absolute;
    bottom: 0;
    right: -20px;
    z-index: 2;
    border-radius: 0 0 0 90%;
}

.name {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.messageText {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.time {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    margin-right: 6px;
}